<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.huawei.cordovahmsgmscheckplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaHMSGMSCheckPlugin</name>
    <js-module name="CordovaHMSGMSCheckPlugin" src="www/CordovaHMSGMSCheckPlugin.js">
        <clobbers target="cordova.plugins.CordovaHMSGMSCheckPlugin" />
    </js-module>
    <platform name="android">
        <!-- hook for add maven repositories and agc plugin-->
        <hook src="scripts/android/after_plugin_install.js" type="after_plugin_install" />
        <hook src="scripts/android/before_plugin_uninstall.js" type="before_plugin_uninstall" />

        <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
        <!-- Account Kit dependency-->
        <framework src="com.huawei.hms:hwid:4.0.0.300" />
        <framework src="com.google.android.gms:play-services-base:17.2.1" />
        
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaHMSGMSCheckPlugin">
                <param name="android-package"
                    value="com.huawei.cordovahmsgmscheckplugin.CordovaHMSGMSCheckPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CordovaHMSGMSCheckPlugin.java"
            target-dir="src/com/huawei/cordovahmsgmscheckplugin" />
    </platform>
    <!-- Script help to copy agconnect-services.json to right places-->
    <hook src="scripts/after_prepare.js" type="after_prepare" />
</plugin>
